<!doctype html>
<html>
<title> PySlinky </title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
<img class="logo" src="{{ url_for('static', filename='logo1.jpg') }}">
<p class="description">Simple service to see how scalability works under different environemtns and setups</p>
<form class="center_screen">
<input type="text" name="address" placeholder="ip:port" size="10">
</form>
<p class="description">
<label>Number of requests </label> <input class="options" type="number" name="requests" value="100"/>
<label>Requests per sec </label> <input class="options" type="number" name="reqpersec" value="10"/>
</p>
<br>
<br>
<p class="center_screen">Optional tests</p>
</body>
</html>
